.contacts__inner {
    @include flex;
    justify-content: flex-start;
}

.contacts__list {
    margin-right: 103px;
    padding-left: 1px;

}

.contacts__item {
    color        : #1a212f;
    font-family  : $bold;
    font-size    : 16px;
    font-weight  : 700;
    margin-bottom: 32px;

}

.contacts__info {
    color      : #000000;
    font-family: $semi-bold;
    font-size  : 14px;
    font-weight: 600;
    display    : block;
    margin-top : 14px;
    max-width  : 250px;
}

.contacts__map {
    width : 431px;
    height: 271px;
}

.contacts {
    margin-top: -5px;
}

.contacts__map {
    margin-top: -47px;
}

.contacts__city{
    display: block;
    margin-bottom: 4px;
    margin-bottom: 6px;

}

.contacts__info--tel{
    margin-top: 12px;
}

.contacts__info--email{
    margin-top: 12px;
}