.footer {
    background-color: #f5f5f9;
    margin-top: -5px;
}

.footer__inner {
    max-width    : 1245px;
    padding-left : 51px;
    padding-right: 29px;
    margin       : 0 auto
}

.footer__nav {
    font-family: $semi-bold;
    font-weight: 600;
    font-size  : 16px;
    line-height: 22px;
    color      : #48494D;
    @include flex;
    justify-content: space-between;
    padding-top    : 30px;
    padding-bottom : 30px;
}

.footer__nav-item-link {
    color: black;
}