.menu {
    margin-bottom: 144px;
}

.menu__inner {
    max-width   : 1245px;
    padding-left: 48px;
    margin      : 0 auto;
}

.menu__list {
    @include flex;
    justify-content: flex-start;
    margin-bottom  : 34px;
}

.menu__list-item {
    width      : 195px;
    height     : 50px;
    text-align : center;
    border     : 1px solid #d7d9df;
    padding-top: 11px;

}

.menu__list-link {
    height     : 26px;
    font-family: $regular;
    font-size  : 20px;
    font-weight: 400;
    text-align : center;
    width      : 100%;
    display    : block;
    background : none;
}

.menu__data-list {
    max-width: 565px;
}

.menu__data-list-item {
    @include flex;
    color         : #48494d;
    font-family   : $regular;
    font-size     : 16px;
    font-weight   : 400;
    border-bottom : 1px solid #d7d9df;
    padding-bottom: 10px;
    margin-bottom : 23px;

}

.menu__data-list-type {
    color      : #000000;
    font-family: $regular;
    font-size  : 16px;
    font-weight: 400;
}

.menu__list-item--active {
    @extend %btn-red;
    font-family: $regular;
    font-size  : 20px;
    text-align : center;
    font-weight: 400;
    width      : 195px;
    border     : none;
    color      : #ffffff;

    button {
        color: #ffffff;
    }
}