.slider {
    margin-bottom: 90px;
}

.slider__inner {
    @include flex;
    justify-content: flex-start;
    align-items    : flex-start;
}

.slider__wrapper {
    padding-left : 42px;
    max-width    : 1245px;
    padding-right: 40px;
    margin       : 0 auto;
}

.slider__photo-block {
    @include flex;
    justify-content: flex-start;
    max-width      : 600px;
    margin-right   : 57px;
}

.slider__photos {
    margin-bottom: 39px;
    position     : relative;

    &::before {
        content         : "NEW MODEL";
        position        : absolute;
        width           : 122px;
        height          : 30px;
        background-color: #d12136;
        color           : #ffffff;
        text-align      : center;
        padding-top     : 9px;
        font-family     : $bold;
        font-size       : 10px;
        font-weight     : 600;
        font-style      : normal;
        letter-spacing  : 0.7px;
        text-transform  : uppercase;
    }
}


.slider__nav {
    @include flex;
}


.slider__btn--left {
    width           : 52px;
    height          : 52px;
    border          : 1px solid #d7d9df;
    border-radius   : 50px;
    background-color: #ffffff;
    position        : relative;
    margin-right    : 31px;

    &::before {
        content         : "";
        position        : absolute;
        background-image: url("img/arrow-right.svg");
        width           : 20px;
        height          : 13px;
        transform       : rotate(180deg);
        top             : 19px;
        left            : 16px;
    }
}

.slider__list {
    @include flex;
    justify-content: flex-start;
}

.slider__item {
    margin-right: 25px;

    &:nth-child(3n) {
        margin-right: 0;
    }
}


.slider__btn--right {
    width           : 52px;
    height          : 52px;
    border          : 1px solid #d7d9df;
    border-radius   : 50px;
    background-color: #ffffff;
    position        : relative;
    margin-left     : 31px;

    &::before {
        content         : "";
        position        : absolute;
        background-image: url("img/arrow-right.svg");
        width           : 20px;
        height          : 13px;
        transform       : translate(-50%, -50%);
    }
}

.slider__btn--no-active {
    &::before {
        opacity: 0.5;
    }
}

.offer__inner {
    @include flex;
    flex-direction : column;
    justify-content: flex-start;
    align-items    : flex-start;
    margin-top     : -10px;

}

.offer__title {
    color        : #48494d;
    font-family  : $bold;
    font-size    : 30px;
    font-weight  : 700;
    margin-bottom: 69px;
}

.offer__list {
    @include flex;
    justify-content: flex-start;
    margin-bottom  : 46px;
    padding-left   : 6px;
}

.offer__item {
    color       : rgba(72, 73, 77, 0.5);
    font-family : $regular;
    font-size   : 16px;
    font-weight : 400;
    position    : relative;
    margin-right: 16px;

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.offer__item--gasoline {
    position: relative;

    &::before {
        content         : "";
        position        : absolute;
        background-image: url("img/gasoline.svg");
        width           : 24px;
        height          : 22px;
        opacity         : 0.5;
        top             : -33px;
        right           : 15px;
    }
}

.offer__item--transmisson {
    position: relative;

    &::before {
        content         : "";
        position        : absolute;
        background-image: url("img/transmission.svg");
        width           : 26px;
        height          : 24px;
        opacity         : 0.5;
        top             : -35px;
        right           : 26px;
    }
}

.offer__item--hp {
    position   : relative;
    margin-left: -4px;

    &::before {
        content          : "";
        position         : absolute;
        background-image : url("img/hp.svg");
        background-repeat: no-repeat;
        width            : 32px;
        height           : 22px;
        opacity          : 0.5;
        top              : -34px;
        right            : 12px;
    }
}

.offer__item--value {
    position    : relative;
    padding-left: 16px;

    &::before {
        content         : "";
        position        : absolute;
        background-image: url("img/value.svg");
        width           : 30px;
        height          : 23px;
        opacity         : 0.5;
        top             : -34px;
        right           : 4px;
    }
}

.offer__price {
    @include flex;
    margin-bottom: 44px;
}

.offer__price-new {
    color       : #48494d;
    font-family : $bold;
    font-size   : 35px;
    font-weight : 700;
    margin-right: 36px;
}

.offer__price-old {
    font-family   : $regular;
    font-weight   : 400;
    color         : rgba(72, 73, 77, 0.5);
    position      : relative;
    font-size     : 20px;
    padding-top   : 4px;
    letter-spacing: normal;


    &::before {
        content         : "";
        position        : absolute;
        width           : 123px;
        height          : 1px;
        background-color: #a3a4a6;
        transform       : skewY(356deg);
        top             : 13px;
        left            : -4px;
    }
}

.offer__send {
    @extend %btn-red;
    margin-bottom : 16px;
    margin-left   : -3px;
    text-transform: uppercase
}

.offer__credit {
    @extend %btn-white;
    color      : #d12136;
    margin-left: -3px;

}

.offer__price-num1 {
    display     : inline-block;
    margin-right: 10px;
}

.offer__price-num2 {
    display     : inline-block;
    margin-right: 5px;
}

.offer__price-num3 {
    display: inline-block;
}