%btn-red {
    font-family     : $semi-bold;
    width           : 196px;
    height          : 52px;
    background-color: #d12136;
    color           : #ffffff;
    font-size       : 14px;
    font-weight     : 600;
    letter-spacing  : 1.68px;
    line-height     : normal;
    text-align      : center;
    color           : #ffffff;
}

%btn-white {
    font-family   : $semi-bold;
    width         : 223px;
    height        : 52px;
    border        : 1px solid #d12136;
    color         : #000000;
    background    : #ffffff;
    font-size     : 14px;
    font-weight   : 400;
    letter-spacing: 1.68px;
    text-align    : center;
}