@charset "UTF-8";
@font-face {
  font-family: "opensans-regular";
  font-weight: 400;
  src: url("./fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2");
  src: url("./fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "opensans-semibold";
  font-weight: 600;
  src: url("./fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2");
  src: url("./fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff");
}

@font-face {
  font-family: "opensans-extrabold";
  font-weight: 700;
  src: url("./fonts/open-sans-v18-latin_cyrillic-700.woff2") format("woff2");
  src: url("./fonts/open-sans-v18-latin_cyrillic-700.woff") format("woff");
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.header {
  background-color: #f5f5f9;
  margin-bottom: 90px;
}

.header__inner {
  max-width: 1245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-wrap: wrap;
  padding: 14px 40px 15px 40px;
  margin: 0 auto;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 155px;
  padding-left: 9px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__img {
  margin-right: 20px;
}

.header__title {
  font-family: opensans-extrabold, sans-serif;
  color: #48494d;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.34px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
}

.header__title--moto {
  font-family: opensans-semibold, sans-serif;
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.82px;
  margin-left: -1px;
}

.header__nav {
  font-family: opensans-semibold, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #48494D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: -11px;
}

.header__nav-item {
  margin-right: 68px;
}

.header__nav-item:nth-child(4n) {
  margin-right: 0;
}

.header__nav-item-link {
  color: black;
}

.footer {
  background-color: #f5f5f9;
  margin-top: -5px;
}

.footer__inner {
  max-width: 1245px;
  padding-left: 51px;
  padding-right: 29px;
  margin: 0 auto;
}

.footer__nav {
  font-family: opensans-semibold, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #48494D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__nav-item-link {
  color: black;
}

.offer__send, .menu__list-item--active, .popup__send-btn {
  font-family: opensans-semibold, sans-serif;
  width: 196px;
  height: 52px;
  background-color: #d12136;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.68px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}

.offer__credit, .reviews__send-review {
  font-family: opensans-semibold, sans-serif;
  width: 223px;
  height: 52px;
  border: 1px solid #d12136;
  color: #000000;
  background: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.68px;
  text-align: center;
}

.slider {
  margin-bottom: 90px;
}

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider__wrapper {
  padding-left: 42px;
  max-width: 1245px;
  padding-right: 40px;
  margin: 0 auto;
}

.slider__photo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 600px;
  margin-right: 57px;
}

.slider__photos {
  margin-bottom: 39px;
  position: relative;
}

.slider__photos::before {
  content: "NEW MODEL";
  position: absolute;
  width: 122px;
  height: 30px;
  background-color: #d12136;
  color: #ffffff;
  text-align: center;
  padding-top: 9px;
  font-family: opensans-extrabold, sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.slider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__btn--left {
  width: 52px;
  height: 52px;
  border: 1px solid #d7d9df;
  border-radius: 50px;
  background-color: #ffffff;
  position: relative;
  margin-right: 31px;
}

.slider__btn--left::before {
  content: "";
  position: absolute;
  background-image: url("img/arrow-right.svg");
  width: 20px;
  height: 13px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 19px;
  left: 16px;
}

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider__item {
  margin-right: 25px;
}

.slider__item:nth-child(3n) {
  margin-right: 0;
}

.slider__btn--right {
  width: 52px;
  height: 52px;
  border: 1px solid #d7d9df;
  border-radius: 50px;
  background-color: #ffffff;
  position: relative;
  margin-left: 31px;
}

.slider__btn--right::before {
  content: "";
  position: absolute;
  background-image: url("img/arrow-right.svg");
  width: 20px;
  height: 13px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider__btn--no-active::before {
  opacity: 0.5;
}

.offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -10px;
}

.offer__title {
  color: #48494d;
  font-family: opensans-extrabold, sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 69px;
}

.offer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 46px;
  padding-left: 6px;
}

.offer__item {
  color: rgba(72, 73, 77, 0.5);
  font-family: opensans-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  margin-right: 16px;
}

.offer__item:nth-child(4n) {
  margin-right: 0;
}

.offer__item--gasoline {
  position: relative;
}

.offer__item--gasoline::before {
  content: "";
  position: absolute;
  background-image: url("img/gasoline.svg");
  width: 24px;
  height: 22px;
  opacity: 0.5;
  top: -33px;
  right: 15px;
}

.offer__item--transmisson {
  position: relative;
}

.offer__item--transmisson::before {
  content: "";
  position: absolute;
  background-image: url("img/transmission.svg");
  width: 26px;
  height: 24px;
  opacity: 0.5;
  top: -35px;
  right: 26px;
}

.offer__item--hp {
  position: relative;
  margin-left: -4px;
}

.offer__item--hp::before {
  content: "";
  position: absolute;
  background-image: url("img/hp.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 22px;
  opacity: 0.5;
  top: -34px;
  right: 12px;
}

.offer__item--value {
  position: relative;
  padding-left: 16px;
}

.offer__item--value::before {
  content: "";
  position: absolute;
  background-image: url("img/value.svg");
  width: 30px;
  height: 23px;
  opacity: 0.5;
  top: -34px;
  right: 4px;
}

.offer__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
}

.offer__price-new {
  color: #48494d;
  font-family: opensans-extrabold, sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-right: 36px;
}

.offer__price-old {
  font-family: opensans-regular, sans-serif;
  font-weight: 400;
  color: rgba(72, 73, 77, 0.5);
  position: relative;
  font-size: 20px;
  padding-top: 4px;
  letter-spacing: normal;
}

.offer__price-old::before {
  content: "";
  position: absolute;
  width: 123px;
  height: 1px;
  background-color: #a3a4a6;
  -webkit-transform: skewY(356deg);
          transform: skewY(356deg);
  top: 13px;
  left: -4px;
}

.offer__send {
  margin-bottom: 16px;
  margin-left: -3px;
  text-transform: uppercase;
}

.offer__credit {
  color: #d12136;
  margin-left: -3px;
}

.offer__price-num1 {
  display: inline-block;
  margin-right: 10px;
}

.offer__price-num2 {
  display: inline-block;
  margin-right: 5px;
}

.offer__price-num3 {
  display: inline-block;
}

.menu {
  margin-bottom: 144px;
}

.menu__inner {
  max-width: 1245px;
  padding-left: 48px;
  margin: 0 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 34px;
}

.menu__list-item {
  width: 195px;
  height: 50px;
  text-align: center;
  border: 1px solid #d7d9df;
  padding-top: 11px;
}

.menu__list-link {
  height: 26px;
  font-family: opensans-regular, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  display: block;
  background: none;
}

.menu__data-list {
  max-width: 565px;
}

.menu__data-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #48494d;
  font-family: opensans-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #d7d9df;
  padding-bottom: 10px;
  margin-bottom: 23px;
}

.menu__data-list-type {
  color: #000000;
  font-family: opensans-regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.menu__list-item--active {
  font-family: opensans-regular, sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  width: 195px;
  border: none;
  color: #ffffff;
}

.menu__list-item--active button {
  color: #ffffff;
}

.reviews__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -8px;
}

.reviews__send-review {
  color: #d12136;
  font-family: opensans-semibold, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 17px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 189px;
  z-index: 10;
  cursor: pointer;
  vertical-align: auto;
  margin-right: 30px;
  margin-top: 4px;
}

.reviews__name {
  color: #48494d;
  font-family: opensans-extrabold, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: -44px;
  letter-spacing: -0.5px;
}

.reviews__item {
  color: #000000;
  font-family: opensans-semibold, sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 21px;
}

.reviews__item--advanteges {
  margin-left: 20px;
  position: relative;
  margin-bottom: 16px;
}

.reviews__item--advanteges::before {
  content: "+";
  position: absolute;
  color: #d12136;
  font-family: opensans-semibold, sans-serif;
  font-size: 15px;
  font-weight: 600;
  left: -18px;
}

.reviews__item-advanteges-info {
  color: #000000;
  font-family: opensans-regular, sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: block;
  margin-top: 10px;
}

.reviews__item--disadvanteges {
  margin-left: 20px;
  position: relative;
  margin-bottom: 19px;
}

.reviews__item--disadvanteges::before {
  content: "-";
  position: absolute;
  color: #d12136;
  font-family: opensans-semibold, sans-serif;
  font-size: 15px;
  font-weight: 600;
  left: -18px;
}

.reviews__item-disadvanteges-info {
  color: #000000;
  font-family: opensans-regular, sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: block;
  margin-top: 10px;
}

.reviews__item-message {
  color: #000000;
  font-family: opensans-regular, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 7px;
  line-height: 20px;
}

.reviews__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.reviews__rating-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

.reviews__rating-advise {
  color: #d12136;
  font-family: opensans-regular, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-right: auto;
  padding-top: 2px;
  display: inline-block;
  vertical-align: middle;
}

.reviews__time {
  opacity: 0.4;
  color: #000000;
  font-family: opensans-regular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-right: 27px;
}

.reviews__send-answer {
  color: #d12136;
  font-family: opensans-regular, sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.reviews__wrapper-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 22px;
  margin-bottom: 66px;
}

.reviews__wrapper-item:last-child {
  margin-bottom: 0;
}

.reviews__list {
  margin-top: -6px;
  margin-left: -1px;
}

.reviews__rating-item {
  margin-right: 4px;
}

.reviews__wrapper {
  margin-top: -4px;
}

.reviews {
  margin-bottom: 155px;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contacts__list {
  margin-right: 103px;
  padding-left: 1px;
}

.contacts__item {
  color: #1a212f;
  font-family: opensans-extrabold, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 32px;
}

.contacts__info {
  color: #000000;
  font-family: opensans-semibold, sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-top: 14px;
  max-width: 250px;
}

.contacts__map {
  width: 431px;
  height: 271px;
}

.contacts {
  margin-top: -5px;
}

.contacts__map {
  margin-top: -47px;
}

.contacts__city {
  display: block;
  margin-bottom: 4px;
  margin-bottom: 6px;
}

.contacts__info--tel {
  margin-top: 12px;
}

.contacts__info--email {
  margin-top: 12px;
}

.footer {
  background-color: #f5f5f9;
  margin-top: -5px;
}

.footer__inner {
  max-width: 1245px;
  padding-left: 51px;
  padding-right: 29px;
  margin: 0 auto;
}

.footer__nav {
  font-family: opensans-semibold, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #48494D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__nav-item-link {
  color: black;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 11;
}

.popup__inner {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px, 10px;
}

.popup__content {
  max-width: 697px;
  height: 415px;
  background-color: #f5f5f9;
  padding: 30px 19px 30px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__title {
  color: #48494d;
  font-family: opensans-semibold, sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: -5px;
  padding-left: -17px;
  margin-left: -23px;
}

.popup__form {
  font-family: opensans-regular, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #474351;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 52px;
}

.popup__email {
  font-family: opensans-regular, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #474351;
  margin-bottom: 10px;
}

.popup__input {
  background: #FFFFFF;
  border: 1px solid #DDDAE7;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  margin-bottom: 17px;
  padding-left: 23px;
  color: #48494d;
  font-family: opensans-regular, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.popup__input--nocorrect {
  border: 1px solid #ff0000;
  background-color: #ffffff;
}

.popup__password {
  margin-bottom: 10px;
  font-family: opensans-regular, sans-serif;
}

.popup__btn {
  width: 370px;
  margin-top: 15px;
}

.popup__rating-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.popup__value-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 32px;
}

.popup__message {
  width: 300px;
  height: 118px;
  border: 1px solid rgba(72, 73, 77, 0.2);
  background-color: #ffffff;
  padding-top: 15px;
  padding-left: 21px;
  color: #48494d;
  font-family: opensans-regular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.popup__left-block {
  max-width: 300px;
  position: relative;
}

.popup__right-block {
  padding-top: 7px;
}

.popup__rating-value {
  color: #000000;
  font-family: opensans-semibold, sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-right: 14px;
}

.popup__send-btn {
  color: #ffffff;
  font-family: opensans-semibold, sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.68px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 218px;
  margin-right: auto;
  margin-top: 16px;
  max-width: 190px;
}

.popup__close {
  margin-left: auto;
  margin-right: 7px;
  margin-top: -5px;
}

.popup__rating-item {
  display: none;
}

.popup__rating-item-star {
  font-size: 0;
  line-height: 0;
  display: block;
  padding-right: 10px;
  cursor: pointer;
}

.popup__rating-item-star::after {
  content: '★';
  display: block;
  font-size: 32px;
  color: rgba(189, 190, 194, 0.7);
}

.popup__rating-item-star--active::after {
  color: #D12136;
}

.popup__input-error::before {
  content: "Пожалуйста, заполните поле";
  position: absolute;
  color: #ff0000;
  font-family: opensans-regular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  top: -24px;
  left: -1px;
}

.popup__input-error::after {
  content: "*";
  position: absolute;
  color: #ff0000;
  font-family: opensans-regular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  top: 7px;
  left: 10px;
}

.popup__input-error-mesesage::after {
  content: "*";
  position: absolute;
  color: #ff0000;
  font-family: opensans-regular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  top: -93px;
  left: 10px;
  z-index: 10;
}

.popup__test {
  position: relative;
}

.popup__label-info {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */